<header class="h-14 flex items-center justify-between px-4 
                 border-b border-white/5 
                 bg-[rgba(20,20,26,0.7)] 
                 backdrop-blur-md 
                 sticky top-0 z-10">

    <div class="font-extrabold tracking-wide">
      🎸 MusicHero
    </div>

    <div class="flex items-center gap-3">
      <p-button
        label="Entrar"
        severity="secondary"
        size="small"
        class="!px-3">
      </p-button>

      <p-button
        label="Criar conta"
        icon="pi pi-user-plus"
        size="small">
      </p-button>
    </div>
  </header>